__pycache__
.DS_Store
.ipynb_checkpoints
data/*
.vscode/
*.log
.tours/
*.zip
*.crt
box/
src3/316_models/
src3/319_models/
src3/results/interpretation_files/libs
!src3/2025-06-09-testing_models.py
!src/s2-test_embedding_models.py
src/toolbox/secrets.py
models/
!models/README.md