**/*test*
__pycache__
*active_tigger_archive/
.DS_Store
.ipynb_checkpoints
models/2025-03-04-bert-base-uncased
data/*
.vscode/
*.log
save_random_search/
save_random_search_2/
save_random_search_embedder/
.tours/
2025-03-31-modernBERT-save_random_search/
2025-04-09-results/
2025-04-10-grid-search/
*.zip
2025-04-13-grid-search/
sklearn-save/